html,body {
	height: 100%;
}

#wrap {
	background: #40ffc6;
	background-image: url("../img/zen-light-1.png"), url("../img/zen-light-2.png");
	background-repeat: repeat-x, repeat;

	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
}

#footer {
	clear: both;
	position: relative;
	height: 29px;
}
#footer {
	background-color: #f5f5f5;
}

.banner {
	height:150px;
	background: #000000;
	background-image: url("../img/zen-dark-1.png"), url("../img/zen-dark-2.png");
	background-repeat: repeat-x, repeat;
}

.main-row {

	
}

.main-content {
	height: 100%;
	background: url("../img/FFFFFF-0.8.png") repeat;

	box-shadow: 10px 0px 100px -7px rgba(0,0,0,0.5),	 -10px 0px 100px -7px rgba(0,0,0,0.5);
	padding-bottom: 9999999px;
	margin-bottom: -9999999px;

	padding-top:70px;
	padding-left:30px;
	padding-right:30px;
}

.panel {
	background: url("http://1x1px.me/616161-0.2.png") repeat;
}

#inputUsername {
	width: 100px;
}

#inputPassword {
	width: 100px;
}

.large-font th{
	font-size: 200%;
}
.large-font td{
	font-size: 225%;
}
.large-font span{
	font-size: 75%;
}
.good {
	color: #00CC33;
}
.bad {
	color: red;
}
