{% extends "base.html" %}
{% load pagination %}
{% load percentage %}
{% block meta_title %}Log{% endblock %}
{% block main %}
<form action="/fitnesslog/" method="post" class="form-horizontal" role="form">
	{% csrf_token %}
	<div class="form-group">
		<label for="inputDate" class="col-lg-1 control-label">Date</label>
		<div class="col-lg-2">
			<input type="date" class="form-control" id="inputDate" name="log_date" value="{{ next_date|date:"Y-m-d" }}" \>
		</div><!-- col -->
		<label for="inputWeight" class="col-lg-1 control-label">Weight</label>
		<div class="col-lg-2">
			<input type="number" class="form-control" id="inputWeight" name="weight" value="{{last_weight}}" min="0" step="0.1" \>
		</div><!-- col -->
		<label for="inputBodyFat" class="col-lg-1 control-label">Body Fat%</label>
		<div class="col-lg-2">
			<input type="number" class="form-control" id="inputBodyFat" name="body_fat" value="{{last_body_fat|percent}}" min="0" step="0.1" \>
		</div><!-- col -->
		<label for="inputNote" class="col-lg-1 control-label">Note</label>
		<div class="col-lg-2">
			<input type="text" class="form-control" id="inputNote" name="note" \>
		</div><!-- col -->
		<div class="col-lg-2">
			<button type="submit" name="add-entry" value="Submit" class="btn btn-primary">Submit</button>
		</div>
	</div><!-- form-group -->
</form>
<div class="panel panel-default">
<div class="table-responsive">
<table class="table table-striped">
	<tr>
		<th>Date</th>
		<th>Weight</th>
		<th>Avg Weight</th>
		<th>Body Fat %</th>
{% if user.is_staff %}
                <th>Lean Mass</th>
{% endif %}
		<th>Note</th>
		<th>Delete</th>
	</tr>
{% for entry in log %}
 <form action="/fitnesslog/" method="post">
 {% csrf_token %}
 <input type="hidden" name="id" value={{ entry.id }} />
 <tr>
 <td>{{ entry.log_date }}</td>
 <td>{{ entry.weight }}</td>
 <td>{{ entry.trend }}</td>
 <td>{{ entry.body_fat|percentage }}</td>
{% if user.is_staff %}
 <td>{{ entry.lean_mass }}</td>
{% endif %}
 <td>{{ entry.note }}</td>
 <td><button type="submit" name="delete" value="Delete">Delete</button></td>
 </tr>
 </form>
{% endfor %}
</table>
</div><!--Responsive Table-->
<div class="row">
<div class="col-md-12 text-center">
<ul class="pagination pagination-sm">
{% if current_page.number == 1 %}
  <li class="disabled"><a href="/fitnesslog/1">|&laquo;</a></li>
{% else %}
  <li><a href="/fitnesslog/1">&laquo;&laquo;</a></li>
{% endif %}
{% if current_page.has_previous %}
  <li><a href="/fitnesslog/{{ current_page.previous_page_number }}">&laquo;</a></li>
{% else %}
  <li class="disabled"><a href="/fitnesslog/{{ current_page.number }}">&laquo;</a></li>
{% endif %}
{% paginate_pages pages current_page.number as paginated_pages %}
{% for page in paginated_pages %}
{%if page == current_page.number%}
  <li class="active disabled"><a href="/fitnesslog/{{page}}">{{page}}</a></li>
{%else%} 
  <li><a href="/fitnesslog/{{page}}">{{page}}</a></li>
{% endif %}
{% endfor %}
{% if current_page.has_next %}
  <li><a href="/fitnesslog/{{ current_page.next_page_number }}">&raquo;</a></li>
{% else %}
  <li class="disabled"><a href="/fitnesslog/{{current_page.number}}" disabled=true>&raquo;</a></li>
{% endif %}
{% if current_page.number == pages.num_pages %}
  <li class="disabled"><a href="/fitnesslog/{{pages.num_pages}}">&raquo;&raquo;</a></li>
{% else %}
  <li><a href="/fitnesslog/{{pages.num_pages}}">&raquo;|</a></li>
{% endif %}
</ul>
</div>
</div>
</div><!--Panel-->
{% endblock %}
