{% extends "base.html" %}
{% block content %}
<form action="/userinfo/{{user.username}}" method="post" class="form-vertical" role="form">
	{% csrf_token %}
	<table class="form-group">
<tr>
 <th><label for="id_username">Username:</label></th>
 <td><span id="id_username">{{user.username}}</span></td>
</tr>
<tr>
 <th><label for="id_metric">Metric:</label></th>
 <td><input {% if form.metric.value %}checked="True"{%endif%} id="id_metric" name="metric" type="checkbox" /></td>
 <td>{{ form.metric.errors }}</td>
</tr>
<tr>
 <th><label for="id_weight">Goal Weight:</label></th>
 <td><input id="id_weight" name="weight" type="text" value="{{form.weight.value}}" /></td>
 <td>{{ form.weight.errors}}</td>
</tr>
<tr>
 <th><label for="id_height">Height:</label></th>
 <td><input id="id_height" name="height" type="text" value="{{form.height.value}}" /></td>
 <td>{{ form.height.errors}}</td>
</tr>
<tr>
 <th><label for="id_birthday">Birthday (optional):</label></th>
 <td><input id="id_birthday" name="birthday" type="date" value="{{form.birthday.value|date:"Y-m-d"}}" /></td>
 <td>{{ form.birthday.errors}}</td>
</tr>
<tr>
 <th><label for="id_public">Public:</label></th>
 <td><input {% if form.public.value %}checked="True"{%endif%} id="id_public" name="public" type="checkbox" /></td>
 <td>{{ form.public.errors}}</td>
</tr>
		<div class="col-lg-2">
			<button type="submit" name="add-entry" value="Submit" class="btn btn-primary">Update</button>
		</div>
	</table><!-- form-group -->
</form>
{% endblock %}
